<div *ngIf="peliculas.length > 0">
  <br>
  <h1 class="aniamted fadeIn fast">{{titulo}}</h1>
  <br>

  <div class="row animated fadeIn">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-md-12 div-pic-1 puntero"
            [routerLink]="[ '/pelicula', peliculas[0]?.id, 'home' ]"
            [ngStyle]="{'background-image': 'url(' + (peliculas[0] | peliculaImagen) + ')'}">
            <p class="pic-titulo">
              {{peliculas[0]?.title}}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 div-pic-2 puntero"
            [routerLink]="[ '/pelicula', peliculas[1]?.id, 'home' ]"
            [ngStyle]="{'background-image': 'url(' + (peliculas[1] | peliculaImagen) + ')'}">
            <p class="pic-titulo">
              {{peliculas[1]?.title}}
            </p>
          </div>
          <div class="col-sm-6 div-pic-2 puntero"
            [routerLink]="[ '/pelicula', peliculas[2]?.id, 'home' ]"
            [ngStyle]="{'background-image': 'url(' + (peliculas[2] | peliculaImagen) + ')'}">
            <p class="pic-titulo">
              {{peliculas[2]?.title}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-6 div-pic-2 puntero"
            [routerLink]="[ '/pelicula', peliculas[3]?.id, 'home' ]"
            [ngStyle]="{'background-image': 'url(' + (peliculas[3] | peliculaImagen) + ')'}">
            <p class="pic-titulo">
              {{peliculas[3]?.title}}
            </p>
          </div>
          <div class="col-sm-6 div-pic-2 puntero"
            [routerLink]="[ '/pelicula', peliculas[4]?.id, 'home' ]"
            [ngStyle]="{'background-image': 'url(' + (peliculas[4] | peliculaImagen) + ')'}">
            <p class="pic-titulo">
              {{peliculas[4]?.title}}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 div-pic-1 puntero"
            [routerLink]="[ '/pelicula', peliculas[5]?.id, 'home' ]"
            [ngStyle]="{'background-image': 'url(' + (peliculas[5] | peliculaImagen) + ')'}">
            <p class="pic-titulo">
              {{peliculas[5]?.title}}
            </p>
          </div>
        </div>
      </div>
    </div>
</div>
