<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="home">
      <i class="fas fa-film text-primary"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="[ '/busqueda', '' ]">Búsqueda</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0"
        (ngSubmit)="buscarPelicula(buscar.value);buscar.value = ''">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar"
          #buscar>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
      <div class="ml-2">
        <button class="btn btn-outline-light mr-1"
          *ngIf="authService.usuario.uid !== ''"
          [routerLink]="[ '/perfil']">
          <i class="far fa-user"></i>
        </button>
        <button class="btn btn-outline-info" 
          routerLink="login"
          *ngIf="authService.usuario.uid === ''">
          LogIn
        </button>
        <button class="btn btn-outline-danger"
          (click)="authService.logout()"
          *ngIf="authService.usuario.uid !== ''">
          LogOut
        </button>
      </div>
    </div>
  </nav>