<div class="container main-container">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
            <img [src]="authService.usuario.photoURL" 
                class="card-img" [alt]="authService.usuario.nombre">
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{authService.usuario.nombre}}</h5>
            </div>
            </div>
        </div>
        </div>
</div>