<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">PelicuasAPP</h1>
    <p class="lead">Esta es una aplicacion de practica.</p>
  </div>
</div>

<div class="container">
  <br>
  <div *ngIf="peliculascartelera">
    <app-galeria titulo="Peliculas en Cartelera" [peliculas]="peliculascartelera | slice:0:6"></app-galeria>
  </div>
  <div *ngIf="peliculaspopulares">
    <app-galeria titulo="Peliculas Populares" [peliculas]="peliculaspopulares | slice:0:6"></app-galeria>
  </div>
  <div *ngIf="peliculaspopularesninos">
    <app-galeria titulo="Peliculas Populares Niños" [peliculas]="peliculaspopularesninos | slice:0:6"></app-galeria>
  </div>
</div>

<!-- <div class="container">
  <div class="animated fadeIn fast">
    <h3>Películas en cartelera</h3>
    <div class="row">
        <div class="card" style="width: 18rem;"
            (click)="verPelicula( pc.id )"
            *ngFor="let pc of peliculascartelera">
            <img src="https://image.tmdb.org/t/p/w200{{pc.poster_path}}" class="card-img-top" [alt]="pc.original_title">
            <div class="card-body">
              <h5 class="card-title">{{pc.title}}</h5>
              <p class="card-text">{{pc.overview}}</p>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="animated fadeIn">
    <h3>Películas mas populares</h3>
    <div class="row">
        <div class="card" style="width: 18rem;"
            (click)="verPelicula( pp.id )"
            *ngFor="let pp of peliculaspopulares">
            <img src="https://image.tmdb.org/t/p/w200{{pp.poster_path}}" class="card-img-top" [alt]="pp.original_title">
            <div class="card-body">
              <h5 class="card-title">{{pp.title}}</h5>
              <p class="card-text">{{pp.overview}}</p>
            </div>
          </div>
    </div>
</div>
</div> -->
