<div class="container main-container">
  <div class="row mt-2 col-12 align-items-center">
      <input type="text" class="form-control form-control-lg" placeholder="Buscar..." 
          [(ngModel)]="query" name="query"
          (keyup.enter)="buscarPelicula()"/>
  </div>

  <div class="row mt-2 animated fadeIn fast" *ngIf="peliculasService.peliculas.length > 0">
      <ul class="list-unstyled">
          <li class="media border rounded p-2 puntero mb-1"
            *ngFor="let pelicula of peliculasService.peliculas"
            [routerLink]="[ '/pelicula', pelicula.id, 'busqueda/' + query ]">
            <img [src]="pelicula|peliculaImagen" class="mr-3" [alt]="pelicula.original_title" style="max-width: 240px;max-height: 240px;">
            <div class="media-body">
              <h5 class="mt-0 mb-1">{{pelicula.title}}</h5>
              <p class="text-jutify">{{pelicula.overview | slice:0:250}}...</p>
            </div>
          </li>
        </ul>
  </div>
</div>