<div class="container main-container"
    *ngIf="pelicula">
    <div class="card mb-3" style="max-width: 940px;"
        *ngIf="pelicula !== null">
        <div class="row no-gutters">
            <div class="col-md-4">
            <img [src]="pelicula | peliculaImagen:true" class="card-img" [alt]="pelicula.original_title">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{pelicula.title}}</h5>
                    <p class="card-text">{{pelicula.overview}}</p>
                    <p>
                        Popularidad: <span class="badge badge-primary">{{pelicula.popularity | number:'.0-0'}}/10</span>
                        <br>
                        Voto Promedio: <span class="badge badge-primary">{{pelicula.vote_average}}</span>
                    </p>
                    <button class="btn btn-outline-danger"
                        [routerLink]="[ '/'+pag ]">
                        <i class="fas fa-arrow-circle-left"></i> Regresar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>