<div class="row conatiner main-container">
    <div class="col-md-12 text-center">
        <h3>Ingrese al chat con su cuenta favorita</h3>
        <button type="button" class="btn btn-outline-primary"
            (click)="ingresar('google')">
            <i class="fab fa-google"></i>
            Google
        </button>
        &nbsp;
        <button type="button" class="btn btn-outline-info"
            (click)="ingresar('twitter')">
            <i class="fab fa-twitter"></i>
            Twitter
        </button>
    </div>
</div>